.modal-commodity-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-commodity {
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  border-radius: 1rem;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
}

.modal-commodity-header,
.modal-commodity-footer {
  padding: 15px;
  display: flex;
  align-items: center;
}

.modal-commodity-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
  font-weight: 900;
}

.modal-commodity-footer {
  border-top: 1px solid #eeeeee;
  justify-content: center;
}

.modal-commodity-body,
form {
  position: relative;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  label {
    margin-top: 1rem;
    font-weight: 550;
    font-size: large;
  }
}

.btn-close {
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}

.btn-send {
  margin-top: 2rem;
  background: rgb(74, 208, 212);
  border: none;
  border-radius: 2rem;
  padding: 8px 30px;
  box-shadow: 0 2px 2px 0 rgba(88, 88, 88, 0.37);

  &:hover {
    background: #4aae9b;
    box-shadow: 0 2px 2px 0 rgba(3, 3, 3, 0.37);
  }
}

// Toggle Switch
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
