.shadow {
  box-shadow: 0 2px 2px 0 rgba(70, 69, 69, 0.37);
  background-color: rgb(255, 255, 255);
}
.line {
  margin: 0px 10px 0px 10px;
  border-bottom: 2px solid rgb(194, 194, 194);
}

.text-header {
  text-align: center;
  & h4 {
    color: #4f505b;
  }
}

.pickup-delivery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}
@media screen and (max-width: 780px) {
  .pickup-delivery {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1280px) {
  .box-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input {
      margin: 0;
      margin-top: 1rem;
    }
  }
}

.input-1 {
  margin-right: 1rem;
}

.input-2 {
  margin-left: 1rem;
}
