$w-5: 50%;

.pickup {
  border-radius: 2rem;
  width: $w-5;
  margin-right: 1rem;
  h4 {
    color: rgba(255, 56, 42, 0.753);
    font-weight: 600;
    font-size: 20px;
    margin: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .pickup {
    width: auto;
    margin: 0;
    margin-bottom: 1rem;
  }
}
